.second-place{
    width: 100%;
    background: lightgray;
    height: 180px;
    box-sizing: border-box;
    border-left: solid 1px lightgray; 
    border-right: solid 1px lightgray; 
    border-bottom: solid 1px lightgray; 
    position: relative;
    float: left;
}
.second-place-bottom{
    background: white;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.second-place-bottom h5{
    font-family: arial;
    margin-left: 10px;
}
.second-place-bottom i{
    position: absolute;
    top: 0px;
}
.formSearch {
    margin-top: 8%;
}
.filterHotel {
    margin-top: 10%;
    width: 100%;
    margin-left: 0.1%;
}
.filter-group {
    float: left;
    width: 25%;
    text-align: left;
    font-size: 20px;
}
.filter-group a {
    color: blue;
}
.filter-group ul,li {
    list-style-type: none;
}
.listHotel {
    width: 100%;
    height: 150px;
    padding: 10px 5px;
    margin-bottom: 10px;
    border: 1px solid #d8d8d8;
}
.listHotel:hover {
    border: 1px solid rgba(103, 183, 202, 0.45);
    box-shadow: 0 5px 15px rgba(103, 183, 202, 0.45) ;
}
.listHotel:after {
    clear: both;
    content: "";
    display: block;
}
.roomService {
    width: 100%;
}
.room-image {
    width: 25%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-right: 30px;
}
.room-image img {
    height: 100%;
    width: 100%;
}
.room-item{ 
    height: 100%;
    border: 1px solid transparent;
    width: 32%;
    float: left;
    margin-left: 1%; 
    box-sizing: border-box;
}
.main{ 
    width: 1140px;
    margin: 0 auto;
}
.main:after{ 
    clear: both;
    content: "";
    display: block;
}
.list-rooms{
    text-align: center;
}
.glyphicon {
    margin-right:5px;
}
.rating .glyphicon {
    font-size: 22px;
}
.rating-num {
    margin-top: 10px;
    font-size: 54px;
    margin-bottom: 30px;
    color: #bf4b07;
}
.progress {
    margin-bottom: 5px;
}
.progress-bar {
    text-align: left;
}
.rating-desc .col-md-3 {
    padding-right: 0px;
}
.sr-only {
    margin-left: 5px;
    overflow: visible;
    clip: auto;
    margin-left: 5px;
    overflow: visible;
    clip: auto;
}
.h1-rating {
    text-align: center;
    margin-top: 40px;
}
.username {
    display: inline;  
}
#avatar {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.other-rooms {
    margin-bottom: 100px;
}
.panel .panel-heading {
    text-align: center; 
    font-size: 25px;
}
.forgot-pass {
    color: #4f4c4c;
}
.contain-row{
    margin-top: 50px;   
}
.room-item a {
    color: white;
}
.comment-old img {
    float: left;
}
.comment-old h3 {
    margin-left: 10px;
}
.comment-old p {
    padding-left: 70px;
    font-size: 13px;
}
.comment-old span {
    padding-left: 70px;
    float: left;
}
.comment-old {
    margin-top: 20px;
    border-bottom: 1px solid #d6d2d2;
}
.rating-comment:after {
    clear: both;
    content: "";
    display: block;
}
.your-comment {
    width: 100%;
    height: 100px;
}
.comment-old p:last-child {
    font-size: 10px;
}
.comment-old button {
    margin-top: 5px;
}
.right-rating {
    height: 400px;
}
.left-rating {
    height: 400px;
}
.link-rating {
    margin-left: 25px;
}
.link-rating a {
    padding-top: 40px;
}
.cls-login {
    color: black;
} 
.cls-star-hotel {
    color: #dfa523;
    font-size: 18px;
}
.cls-breadcrumb {
    list-style: none;
}
.cls-breadcrumb li {
    display: inline;
    font-size: 14px;
}
.cls-breadcrumb li+li:before {
    padding: 8px;
    color: #e5dada;
    content: ">";
}
.cls-breadcrumb li a {
    cursor: pointer;
    text-decoration: none;
    color: #0c81da;
    font-size: 14px;
}
.cls-breadcrumb > .active {
    color: #595959;
}
.cls-color-primary {
    color: #75c5cf;
}
.ml-5 {
    margin-left: 5px;
}
.cls-box-info-hotel:after {
    content: "";
    clear: both;
    display: block;
}
.cls-box-info-hotel {
    margin-top: -70px;
}
.cls-list-service {
    width: 100%;
    margin-left: 10px;
    overflow-x: hidden;
    max-height: 318px;
}
.list-room {
    width: 100%;
    height: 150px;
    padding: 10px 5px;
    margin-bottom: 10px;
    border: 1px solid #d8d8d8;
}
.list-room:hover {
    border: 1px solid rgba(103, 183, 202, 0.45);
    box-shadow: 0 5px 15px rgba(103, 183, 202, 0.45) ;
}
.list-room:after {
    clear: both;
    content: "";
    display: block;
} 
.cls-introduce-hotel {
    padding: 0 15px;
}
.cls-list-room {
    padding: 0 15px;
}
.cls-title-introduce-hotel {
    padding: 10px 0;
    border-bottom: 1px solid #d6d6d6;
}
.cls-body-introduce-hotel {
    padding: 30px 0;
}
.room-item-price {
    height: 100%;
    border: 1px solid transparent;
    width: 16%;
    float: left;
    padding: 35px 0;
    margin-left: 1%; 
    box-sizing: border-box;
}   
.room-item-booking {
    height: 100%;
    border: 1px solid transparent;
    width: 20%;
    float: left;
    margin-left: 1%;
    padding: 52px 0;
    box-sizing: border-box;
}
.cls-room-price {
    color: #f96d01;
    font-size: 24px;
}
.cls-btn-booking {
    background-color: #f96d01;
    width: 80%;
    border: none;
    border-radius: 3px;
    height: 40px;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    padding: 10px 0;
    color: #FFF;
}
.cls-btn-booking:hover {
    background-color: #f75400;
    color: #FFF;
}
.cls-room-info {
    color: #1b7cb5 !important;
}
.list-group-item {
    border: none;   
}
.cls-rating-hotel {
    color: #1ba0e2;
}
.cls-rating-point {
    font-size: 18px;
}
.cls-rating-label {
    font-weight: bold;
}
.cls-rating:after {
    content: '|';
}
.cls-introduce-hotel:after {
    clear: both;
    content: "";
    display: block;
}
.room-dialog-modal{
    margin-top: 70px;
    width: 1136px;
}
.cls-list-room-info {
    max-height: 300px;
    overflow: auto;
}
.cls-list-room-info li {
    list-style-type: disc!important;
    padding: 5px;
}
.mt-20 {
    margin-top: 20px;
}
.cls-comment-content {
    margin-top: 10px;
    max-height: 250px;
    overflow: auto;
}
.total-rating-circle {
    background: #1ba0e2;
    border-radius: 50%;
    color: #fff;
    font-size: 23px;
    font-weight: 500;
    height: 56px;
    left: 20px;
    line-height: 56px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 56px;
}
.cls-username-comment {
    margin-left: 70px;
}
.cls-value-rating { 
    width: 55px;
    text-align: center;
    padding-left: 3px !important; 
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
.cls-breadcrumb-effect {
    border-bottom: 1px solid #e2e2e2;
}
.cls-register a {
    margin-right: 2%;
}
.cls-with-max {
    width: 100%;
}
.cls-text-color-primary {
    color: #75c5cf;
}
.cls-mr-20 {
    margin-right: 20px;
}
.cls-tb-user {
    margin-left: 9%;
}
.cls-form-border-parent {
    max-width: 100%;
}
.cls-form-border {
    border-radius: 3px;
    border: 1px solid #dedede;
    border-left-width: 2px;
    box-sizing: border-box;
    border-left-color: rgb(27, 160, 226);
    padding: 27px 25px 34px;
}
.cls-item-border {
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    width: 30%;
}
.nopadding {
   padding: 0 !important;
}
.cls-ml-20 {
    margin-left: 20px;
}
.cls-ml-5-percent {
    margin-left: 5%;
}
.cls-image-rooms {
    max-width: 90%;
    margin-left: 5%;
}
.cls-image-contain {
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.cls-image-contain h1 {
    z-index: 1;
    font-size: 80px;
    color: white;
    text-shadow: 0px 1px 2px #c11414;
    font-weight: bold;
}
.cls-transbox {
    max-width: 100%;
    background: rgba(16, 17, 16, 0.43); 
    margin-top: 80px;
    opacity: 0.9;
    padding: 0px 0px 5px 0px;
}
.cls-image-contain h2 {
    font-size: 25px;
    color: white;
    text-shadow: 10px 1px 2px black;
    font-weight: bold;
}
.cls-image {
    position: absolute;
    width: 100%;
    right: 0;
    margin-top: -100px;
    z-index: -1;
}
.cls-text-color-primary {
    color: #75c5cf;
}
.cls-has-vacancies {
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 0;
    padding: 3px 10px;
    background-color: #dff0d8;
    border-radius: 6px;
    color: #3c763d;
}
.cls-no-vacancies {
    margin-top: 10px;
    color:red;
}
.cls-no-img-hotel {
    width: 750px;
    height: 423px;  
}
.count-rating-guest{
    margin-top: 10px;
}
.cls-mb-50 {
    margin-bottom: 50px;
/*slider*/
}
.contain-slider-img-room {
    margin-top: 10px;
    width: 500px;
}
#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}

.button {
  display: inline-block;
  margin: 0;
  padding: .461em 1.563em .41em;
  color: #fff!important;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  line-height: 1;
  font-size: .9em;
  cursor: pointer;
  font-family: "proxima-nova", sans-serif;
  border: 1px solid #1a4064;
  background: #255a8c;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
}
.button:active  {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.button.green  {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #578824;
  background: #71b02f;
}
.button.green:hover  {
  background: #79bc32;
}
.loading #container {opacity: 0;}
.loading:before  { content: 'LOADING'; display: block; margin: 100px 0 0; text-align: center; color: #fff; font-weight: bold; font-size: 60px; opacity: 0.3; }
.cls-img-room-show {
    width: 486px !important;
    height: 311px !important;
}
.cls-img-room-thumbnail {
    width: 210px !important;
    height: 135px !important;
}
/*end slider*/
.cls-room-title {
    font-size: 25px;
    color: #1b7cb5 !important;
}
.cls-list-room-info li{
    font-size: 22px;
    color: #7b7474;
}
.cls-slider-thumbnail {
    width: 495px;
}
.cls-room-empty-title {
    font-size: 16px;
    color: #e8841d;
}
.img-room-show {
    width: 100%;
}
.cls-rating-comment {
    margin-bottom: 75px;
}
.cls-contain-total-rating {
    margin: 0 10px 10px 0;
}
/*/slider rating*/
.cls-slider-rating {
    display: inline !important;
    float: left !important;
    width: 70% !important;
}
.mr-10 {
    margin-right: 10px;
}
.cls-label-rating {
    padding-right: 10px;
    width: 15%;
}
.cls-rating-point {
    color: #bf4b07;
}
.cls-rating-view {
    color: #bf4b07;
}
.total-rating {
    border: none;
    font-weight: bold;
}
.hotel-user-comment {
    width: 100%;
    height: 100px;
    resize: none;
}
.modal-dialog {
    margin-top: 70px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    margin-top: 7px;
    height: 9px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.45, #1da0e2),
        color-stop(0.45, #C5C5C5)
    );
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
}
.btn-confirm {
    color: red;
    border: unset;
}
.fz-20 {
    font-size: 20px;
}
.update-rating {
    margin-top: 11px;
}
footer {
    margin-top: 50px;
}
.cls-mt-100 {
    margin-top: 100px;
}
.cls-mb-5 {
    margin-bottom: 5px;
}
.cls-mb-20 {
    margin-bottom: 20px;
}
.cls-modal-booking {
    margin: 20vh auto 0px auto;
}
.cls-modal-booking-text {
    font-size: 21px;
    margin-top: 14%;
}
.cls-modal-booking-footer a {
    margin-top: 5%;
}