@keyframes spinAround {
    50% {
        transform: rotate(25deg)
    }
    100% {
        transform: rotate(-25deg);
    }
}
.margin_center{
    margin-left: 15%;
    margin-right: 15%;
}

.title_page{
    text-align: center;
}

.chat_room{
    margin-left: 25%;
    margin-right: 25%;
}

/* .form-control.bg-info {
    background-color: #E3F5B8;
}
 */
.form-control.bg-danger {
    border-color:  #E63D3E;
}

.form-control.bg-warnming {
    border-color:  #E38E18;
}
.form-control:hover{
    background-color: #CDDBDF;
}

.glyphicon-warning-sign{
    animation: spinAround 0.1s linear infinite;
}

.user_image{
    display: inline-block;
    width: 100px;
}

.cus_icon{
    border: none;
    background: none;
    color: blue;
}

.inline{
    display: inline;
}
/*button create*/
.btn-create span {
    background-color: violet;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px; 
}
/*end button create*/

.news-btn {
    margin-top: 4px;
}
 /*admin-place*/
.icon-remove{
    color: #da4141;
}

.margin-center {
    margin-left: 15%;
    margin-right: 15%;
}

.title-page {
    text-align: center;
}
 
/*fix template index, create*/
.btn-delete-item {
    border: none;
    background: unset;
    color: #e23434;
}
.btn-custom-option {
    font-size: 22px;
}

.btn-option:after {
    content: "";
    clear:both;
}

.btn-option{
    width: 95px;
}
.btn-option .btn-edit {
    margin-top: 7px;
    margin-left: 21px;
}

.form-delete{
    margin-top: 3px;
}


/*end fix template*/
.title-header {
    display: block !important;
    font-size: 27px !important;
}

.contain-btn{ 
     
    margin-right: 1.5%;
}
.contain-btn.second { 
    margin-right: 0;
    margin-top: 20px;
}
 
.img-place{
    max-width: 145px;
    height: 100px;
    margin-top: 10px;
}
.place-descript{
    max-height: 300px;
    max-width: 713px;
}
.btn-custom {
    margin-right: 10px;
}

/*end admin-list-place*/
/*errors page*/
.main-page-error {
    text-align: center;
    margin: 150px 0 150px 0;
}
    
.content-error-page-admin {
    text-align: center;
    padding: 30px 0 150px 0;
}    
.title-error{
    color: #5488c7 !important;
}


.btn-addnews a{
    width: 10%;
}

/*end errors page*/

/*search*/
.form-search{
    width: 100%;
    margin-bottom: 5px;
}

.input-search {
    display: inline-block;
    width: 30%;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.input-search:focus {
    width: 60%;
}

.container-search {
    position: relative;
}

.btn-search {
    position: absolute;
    top: 0px;
}
/*end search*/
