@keyframes spinAround {
    50% {
        transform: rotate(25deg)
    }
    100% {
        transform: rotate(-25deg);
    }
}
.margin-center{
	margin-left: 15%;
	margin-right: 15%;
}

.title-page{
	text-align: center;
}

.chat-room{
	margin-left: 25%;
	margin-right: 25%;
}

/* .form-control.bg-info {
    background-color: #E3F5B8;
}
 */
.form-control.bg-danger {
    border-color:  #E63D3E;
}

.form-control.bg-warnming {
    border-color:  #E38E18;
}
.form-control:hover{
	background-color: #CDDBDF;
}

.glyphicon-warning-sign{
	animation: spinAround 0.1s linear infinite;
}

.user-image{
    display: inline-block;
    width: 100px;
}

.cus-icon{
    border: none;
    background: none;
    color: blue;
}

.inline{
    display: inline;
}

.btn-add-news {
    margin-left: 32%;
}
.btn-add-news button{
    margin-left: 5%;
    width: 20%;
}
.help-block {
    color: red;
}

.news-btn {
    margin-top: 4px;

/*errors page*/
.main-page-error {
    text-align: center;
    margin: 150px 0 150px 0;
}
    
.content-error-page-admin {
    text-align: center;
    padding: 30px 0 150px 0;
}    
.title-error{
    color: #5488c7 !important;

}

.btn-addnews a{
    width: 10%;
}

