@keyframes spinAround {
    50% {
        transform: rotate(25deg)
    }
    100% {
        transform: rotate(-25deg);
    }
}
.margin-center{
	margin-left: 15%;
	margin-right: 15%;
}

.title-page{
	text-align: center;
}

.chat-room{
	margin-left: 25%;
	margin-right: 25%;
}
/* .form-control.bg-info {
    background-color: #E3F5B8;
}
 */
.form-control.bg-danger {
    border-color:  #E63D3E;
}

.form-control.bg-warnming {
    border-color:  #E38E18;
}
.form-control:hover{
    background-color: #CDDBDF;
}

.glyphicon-warning-sign{
    animation: spinAround 0.1s linear infinite;
}

.user-image{
    display: inline-block;
    width: 100px;
}

.cus-icon{
    border: none;
    background: none;
    color: blue;
}

.inline{
    display: inline;
}
/*button create*/
.btn-create span {
    background-color: violet;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px; 
}
/*end button create*/

.news-btn {
    /*margin-top: 2px;*/
    font-size: 16px;
    float: left;

}
 /*admin-place*/
.icon-remove{
    color: #da4141;
}

.margin-center {
    margin-left: 15%;
    margin-right: 15%;
}

.btn-delete-item {
    border: none;
    background: unset;
    color: #e23434;
    margin-top:5px; 

}
.news-option:after {
    display: block;
    content: "";
    clear: both;
}
.title-page {
    text-align: center;
}
.btn-remove-item {
    border: none;
    background: unset;
    color: #e23434;
    font-size: 16px;
}

.title-header {
   display: block !important;
   font-size: 27px !important;
}

.contain-btn{ 
    float: right !important;
}

.form-search{
    float: right !important;
    margin-bottom: 10px;    
}

.btn-pencil{
    font-size: 18px;
}

.col-no {
    width: 5%;
}
.col-image {
    width: 15%;
}
.col-name {
    width: 20%;
}
.col-descript {
    width: 50%;
}
.col-action {
    width: 5%;
}
.table-place{
    table-layout: fixed;
}
 
.img-place{
    max-width: 145px;
    height: 100px;
}

/*end admin-list-place*/
/*errors page*/
.main-page-error {
    text-align: center;
    margin: 150px 0 150px 0;
}
    
.content-error-page-admin {
    text-align: center;
    padding: 30px 0 150px 0;
}    
.title-error{
    color: #5488c7 !important;
}
.col-news-id {
    width: 3%;
}
.col-news-title {
    width: 30%;
}
.col-news-content {
    width: 35%;
}
.col-news-categoryid {
    width: 3%;
}
.col-news-category {
    width:10%;
}
.btn-addnews a{
    width: 10%;
    float: right;
}
.news-search-input {
    width: 40%;
    float: left;
}
.news-search-btn {
    float: left;
    margin-left: 3%;
}

/*end errors page*/


